/*  Innehållsförteckning:
    1.Nav
    2.Body
    3.Hero
 */

/* Här ger jag section elementen flex display som gör att alla bilder och text sitter jämnt med varandra på webbsidan. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* 1. Nav */
.nav {
    background-color: rgb(52, 26, 26);
    display: flex;
    justify-content:space-between;
    align-items: center;
    top:0;
    left:0;
    right:0;
    position: relative;
}

 .nav li {
    padding: 10px;
    font-size: 20px;
    list-style-type: none;
}

.nav a {
    color:whitesmoke;
    text-decoration: none;
}

h1 {
    color:whitesmoke;
    padding: 10px;
}

header {
    position: fixed;
    top:0;
    background-color: rgb(52, 26, 26);
    color:whitesmoke;
    margin-bottom: 0;
    width:100%;
}


/* 2. Body */


body {
    
}

.lineup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
 }



/* 3. Hero */
.hero  {
    width: 95%;
    height: 300px;
    margin: auto;
    background-image: url();
    border:1px solid white;
}

/* 4. Main */

main {
  
    margin-top:100px;
}


/* 5. Footer */

footer {

}